* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #2D2D2D;
}

header {
    display: flex;          
    justify-content: center;
    align-items: center;  
    height: 100px; 
    font-size: 36px;
}

nav {
    display: flex;
    flex-direction: column;
}

main {
    min-height: 100%;
    width: 100%;
    padding: 10px;
}

nav > a {
    color: #F0F0F3;
    padding: 10px;
    align-items: center;
    width: 100%;
}

#about-nav {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

#about-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

#about-img img {
    height: 260px;
    width: 100%;
}

#about-main {
    padding: 0;
    display: flex;
    flex-direction: column;
}

#h2-about {
    margin-left: 10%;
}

.about-containers {
    width: 400px; 
    box-shadow: 2px 2px 2px 2px; 
    border-radius: 20px; 
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    transition: background-color 0.4s ease-in-out;
}

.about-text {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
}

.design-container {
    width: 400px; 
    box-shadow: 2px 2px 2px 2px; 
    border-radius: 20px; 
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    
}

#design-container {
    width: 800px; 
    height: 200px;
    overflow: scroll;
}

.primary-color {
    background-color: #5E548E;
}

.secondary-color {
    background-color: #9F86C0;
}

.main-background-color {
    background-color: #F0F0F3;
}

.action-color {
    background-color: #F76C6C;
}

.accent {
    background-color: #A8DADC;
}

.form_page_rel {
    flex: 1; 
    border: 2px solid #5E548E; 
    border-radius: 8px;
    padding: 15px;
    background-color: #F0F0F3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: auto;
}

.centered-h2-form {
    padding-top: 5%;
    text-align: center;
    font-family: 'Lucida Sans';
}

.color-fieldset {
    background-image: linear-gradient(rgb(229, 213, 255), rgba(255, 255, 255, 0.5)), 
    url(images/simplementoringimg.jpg);
    background-size: cover;
  
}

.color-fieldset fieldset {
    border: none;
    margin: 2%;
}

.benefits-and-offers {
    font-size: 120%;
    font-family: 'Lucida Sans';
    padding: 5%;     
}

.benefits-and-offers li {
    margin: 5%;
}

.benefits-and-offers h2 {
    text-align: center;
    margin-bottom: 10%;
}
.chat {
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 8px;
    align-items: center;
    border: 1px solid black;
}

.circle {
    border-radius: 50%;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.message {
    margin-left: 20px;
}

.benefits-and-offers {
    font-size: 120%;
    font-family: 'Lucida Sans';
    padding: 5%;
      
}

.benefits-and-offers li {
    margin: 5%;
}

.benefits-and-offers h2 {
    text-align: center;
    margin-bottom: 10%;
}

.no-bullets {
    list-style: none;
}

.summary-details {
    font-size: smaller;
    color: #F76C6C;
}

.benefits-and-offers li:hover {
    transform: scale(1.1); 
    font-size: 1em; 
    transition: 0.3s ease;
    color: #5E548E; 
}

.justified {
    text-align: justify;
}

.resource-group {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    background-color: #9F86C0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease-in-out;
}

.resource-group:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.12);
}

.resource-group h2, .resource-group h3 {
    margin: 0;
    padding: 0;
}

.resource {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
}

.resource * {
    margin-bottom: 5px;
}

.resource img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    border: 4px solid #5E548E;
}

.resource-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
}
.container-bulle {
    margin-top: 5%;
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    align-items: center; 
}

.bulle {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: auto;
    min-height: 100px; 
    background-color: #F0F0F3; 
    border-radius: 50px; 
    font-size: 16px;
    color: #2D2D2D;   
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
}

#chat-input-div {
    height: 40px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#chat-input-div > input {
    width: 80%;
    margin: 5px;
}

#chat-input-div > button {
    width: 20%;
    margin: 5px;
}

#chat-list-div {
    max-height: 300px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#meeting-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#meeting-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#meeting-div img {
    height: 100%;
    border-radius: 8px;
}

#call-div {
    background-color: rgb(72, 72, 72);
    width: 100%;
    height: 50%;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
}

#host-div {
    position: absolute; 
    bottom: 0;       
    right: 0;    
    background-color: black;
    color: white;
    margin: 10px;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#chat-div {
    width: 90%;
    height: 50%;
    padding: 10px;
    border: 3px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

#meeting-description-div {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-wrap: anywhere;
    border-radius: 8px;
    margin-bottom: 20px;
}

#meeting-description-div table {
    width: 100%;
    border-collapse: collapse;
}

#meeting-description-div th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#meeting-description-div th {
    background-color: #f4f4f4;
}

#meeting-description-div td.available {
    background-color: #c8e6c9; /* Light green for availability */
}

#meeting-description-div td.unavailable {
    background-color: #ffcdd2; /* Light red for unavailability */
}

#form-div {
    margin-bottom: 10px;
    font-size: 120%;
}

#form-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#nav-main-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

#details {
    width: 100%; 
    height: 150px; 
    resize: none; 
    border: 1px solid #786690; 
    border-radius: 5px; 
    padding: 10px; 
    font-size: 14px; 
}

#button-form {
    margin: 2em;
    background-color: #F0F0F3;
    padding: 2%;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

#button-form:hover {
    background-color: #F76C6C;
}

#button-chat:hover {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
    cursor: pointer;
}

#button-chat {
    font-size: 20px;
    padding-top: 2px;
    color: white;
}

/* Medium Display */
@media (min-width: 600px) {
    nav {
        flex-direction: row;
    }

    .form_page_rel {
        overflow: scroll;
    }

    .resources {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .resource {
        max-width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #chat-list-div {
        height: 100%;
    }

    #host-div {
        width: 150px;
        height: 150px;
    }

    #meeting-div {
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    #meeting-description-div {
        overflow: scroll;
    }

    #call-div {
        width: 70%;
        height: 100%;
    }

    #chat-div {
        width: 30%;
        height: 400px;
        margin-left: 10px;
    }

    #chat-list-div {
        height: 400px;
        max-height: 400px;
    }

    #form-div {
        margin-bottom: 0px;
        margin-right: 10px;
    }

    #form-main {
        display: flex;
        flex-direction: row;
    }

    #about-img img {
        height: 500px;
        width: 90%;
    }

}

/* Big Display */
@media (min-width: 1100px) {
    nav {
        flex-direction: column;
    }

    .resource {
        max-width: 400px;
    }

    .resource:hover {
        scale: 1.1;
        margin: 10px;
    }

    #meeting-main {
        align-items: start;
    }

    #meeting-div {
        display: flex;
        flex-direction: row;
        align-items: start;
        height: 70%;
    }

    #chat-div {
        height: 180%;
    }

    #chat-list-div {
        min-height: 97%;
    }

    #meeting-description-div {
        width: 70%;
    }

    #host-div {
        width: 300px;
        height: 200px;
    }

    #nav-main-div {
        flex-direction: row;
    }

    #about-img img {
        height: 550px;
        width: 60%;
    }

    .about-containers:hover {
        transform: scale(1.3);
        background-color: #9F86C0;
        color: #F0F0F3;
    }

    #h2-about {
        margin-left: 6%;
    }
}