* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #2D2D2D;
}

header {
    display: flex;          
    justify-content: center;
    align-items: center;  
    height: 100px; 
    font-size: 36px;
}

nav {
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
    width: 100%;
}

nav > a {
    color: #F0F0F3;
    padding: 10px;
    align-items: center;
    width: 100%;
}

.primary-color {
    background-color: #5E548E;
}

.secondary-color {
    background-color: #9F86C0;
}

.main-background-color {
    background-color: #F0F0F3;
}

.action-color {
    background-color: #F76C6C;
}

.accent {
    background-color: #A8DADC;
}

#nav-main-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Medium Display */
@media (min-width: 600px) {
    nav {
        flex-direction: row;
    }
}

/* Big Display */
@media (min-width: 1100px) {
    nav {
        flex-direction: column;
    }

    #nav-main-div {
        flex-direction: row;
    }
}